.card_frame_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 32px;
  gap: 64px;
  position: absolute;
  width: 490px;
  height: 411px;
  left: 168px;
  top: 355px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
}

.emoji {
  width: 128px;
  height: 128px;
  flex: none;
  order: 0;
  margin-top: 64px;
}

.nenhuma_squad_cadast {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ACB5BD;
}

.card_frame_1 button {
  width: 182px;
  height: 48px;
  margin-bottom: 64px;
}